//
//  Secrets.xcconfig
//  Vision-Farming
//
//  Created by Sinan Dinç on 4/19/25.
//


SUPABASE_URL = "https://cvqqoglxwzrakkkjplnq.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN2cXFvZ2x4d3pyYWtra2pwbG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ5NzIxMDUsImV4cCI6MjA2MDU0ODEwNX0.EoRHqKVweshs_g47r0lCinkZfHUqCc_sjcFRfUkP0jM"
